.packages-list-wrapper {
    padding: 1rem;
    border: 2px solid red;
    border-radius: 5px;
    display: flex;
}

.packages-list-wrapper p {
    margin: 0;
    font-size: 12px;
}

.packages-list-wrapper h4 {
    margin: 0;
    font-size: 15px;
}

.package-item-wrapper {
    border: 1px solid green;
    width: 250px;
}
