.nav-menu {
  font-family: 'Roboto', sans-serif;
  width: 375px;
  height: 100vh;
  background: linear-gradient(#0099AE, #00BF82);
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  z-index: 1;
}

.close-btn {
  width: 59px;
  height: 59px;
  margin-left: 50px;
  margin-top: 35px;
  cursor: pointer;
  border: none;
  background: transparent;
  fill: #fff;
}

.nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  padding-left: 60px;
  list-style: none;
}

.nav-menu__link {
  width: 100%;
  font-size: 22px;
  line-height: 26px;
  color: white;
  text-decoration: none;
}

.nav-menu__link:hover {
  color: red;
}

.login-btn {
  width: 248px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin: auto auto 12px 43px;
  padding-right: 110px;
}

.login-btn:hover {
  color: red;
  border: 2px solid red;
}