.form-container {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    background: linear-gradient(to top, rgb(48, 83, 105), rgb(56, 89, 109));
    margin-bottom: 30px;
}

.form-container label {
    display: block;
    text-align: left;
    padding-left: 20px;
    font-size: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.form-container input {
    width: 90%;
    height: 40px;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.reset-btn {
    color: rgb(120, 225, 249);
    background: transparent;
}

.submit-btn {
    color: rgb(120, 225, 249);
    background-color: rgb(9, 77, 119)
}